/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
u,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.grid-container{
display: grid;
padding: 20px;
gap: 20px;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(4, 1fr);
height: 40rem;
}
.grid-item{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.grid-item:nth-child(1)
{
grid-column: span 2;
background-color: rgb(114, 79, 9) ;
}
.grid-item:nth-child(2)
{
grid-column: span 1;
background-color: rgb(255, 193, 5);
}
.grid-item:nth-child(3)
{
grid-column: span 1;
background-color: rgb(255, 193, 5);
}
.grid-item:nth-child(4)
{
grid-column: span 3;
background-color: rgb(6, 67, 85);
}
.grid-item:nth-child(5)
{
grid-column: span 1;
background-color: rgb(255, 193, 5);
}
.grid-item:nth-child(6)
{
grid-column: span 4;
background-color: rgb(156, 25, 238);
}
.grid-item:nth-child(7)
{
grid-column: span 1;
background-color: rgb(255, 193, 5);
}
.grid-item:nth-child(8)
{
grid-column: span 1;
background-color: rgb(255, 193, 5);
}
.grid-item:nth-child(9)
{
grid-column: span 2;
background-color: rgb(36, 143, 139);
}
main{
background-color: rgb(196, 196, 196);
}
.hint{
align-items: center;
justify-content: center;
text-align: center;
font-size: 20px;
}
h1{
align-items: center;
justify-content: center;
text-align: center;
font-size: 40px;
padding: 10px;
}